<% layout('layout/layout')%>
<style>
    body {
        padding-top: 70px;
        padding-bottom: 30px;
    }
</style>
<!-- 광고관리 게시판 -->
<br>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">광고관리 Table</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">광고등록 Form</a>
        <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상태</th>
                    <th scope="col">광고명</th>
                    <th scope="col">광고요청일</th>
                    <th scope="col">총원</th>
                    <th scope="col">광고시작일</th>
                    <th scope="col">광고마감일</th>
                    <th scope="col">관리</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach((el,idx) => {%>
                <tr>
                    <td><%=idx%></td> <!-- 광고 Num -->
                    <%if(el.ADSTATE=='waiting') {%>
                    <th scope="row"><a href="#" class="badge badge-success"><%=el.ADSTATE%></a></th>
                    <%} else if(el.ADSTATE=='approval') {%>
                    <th scope="row"><a href="#" class="badge badge-primary"><%=el.ADSTATE%></a></th>
                    <%} else if(el.ADSTATE=='refusal') {%>
                    <th scope="row"><a href="#" class="badge badge-danger"><%=el.ADSTATE%></a></th>
                    <%} else if(el.ADSTATE=='end') {%>
                    <th scope="row"><a href="#" class="badge badge-secondary"><%=el.ADSTATE%></a></th>
                    <%}%>
                    <td><%=el.TITLE%></td> <!-- 광고명 -->
                    <td><%=el.DATETIME%></td> <!-- 광고요청일 -->
                    <td><%=el.MISSIONUSERNUM%></td> <!-- 진행현황 -->
                    <td><%=el.STARTDATE%></td> <!-- 광고시작일 -->
                    <td><%=el.ENDDATE%></td> <!-- 광고마감일 -->
                    <td>
                        <!-- 관리버튼 -->
                        <%if(el.ADSTATE=='waiting') {%>
                        <button class="btn btn-sm btn-primary">수정</button> /
                        <button class="btn btn-sm btn-primary">요청취소</button>
                        <%} else if(el.ADSTATE=='approval') {%>
                        <button class="btn btn-sm btn-primary">마감</button> /
                        <button class="btn btn-sm btn-primary">재등록</button>
                        <%} else if(el.ADSTATE=='refusal') {%>
                        <button class="btn btn-sm btn-primary">수정</button> /
                        <button class="btn btn-sm btn-primary">재등록요청</button>
                        <%} else if(el.ADSTATE=='end') {%>
                        <button class="btn btn-sm btn-primary">재등록</button>
                        <%}%>
                    </td> 
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>

    <!-- 광고등록 -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container" role="main">
            <form name="form" id="form" role="form" method="post">
                <div class="mb-3">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요">
                </div>
                <form name="formManager" class="formManager">
                    <div class="form-group">
                        <label for="managerName">담당자 이름</label>
                        <input type="text" class="form-control" id="managerName">
                    </div>
                    <label for="managerEmail1">담당자 Email 주소</label>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="email" class="form-control" id="managerEmail1" placeholder="">
                        </div>
                        <div class="form-group col-auto">
                            @
                        </div>
                        <div class="form-group col">
                            <select class="form-control" id="managerEmail2">
                                <option value="">도메인 선택을 바랍니다. </option>
                                <option value="@naver.com">naver.com</option>
                                <option value="@hanmail.net">hanmail.net</option>
                                <option value="@nate.com">nate.com</option>
                                <option value="@daum.net">daum.net</option>
                                <option value="@hotmail.com">hotmail.com</option>
                                <option value="@dreamwiz.com">dreamwiz.com</option>
                                <option value="@gmail.com">gmail.com</option>
                            </select>
                        </div>
                    </div>
                    </fieldset>
                </form>
                <div class="mb-3">
                    <label for="mission_condition">미션조건</label>
                    <input type="text" class="form-control" name="missionCondition" id="missionCondition"
                        placeholder="미션조건을 입력해 주세요">
                </div>

                <div class="mb-3">
                    <label for="mission_user_num">참가자수</label>
                    <input type="text" class="form-control" name="missionUserNum" id="missionUserNum"
                        placeholder="미션 참가자 수를 입력해주세요">
                </div>

                <div class="mb-3">
                    <label for="content">광고 상세내용</label><br>
                    <textarea class="form-control" rows="30" name="content" id="content"
                        placeholder="광고 상세내용을 입력해 주세요"></textarea>
                </div>

                <div class="mb-3">
                    <label for="tag">상품</label>
                    <input type="text" class="form-control" name="tag" id="tag" placeholder="상품을 입력해 주세요">
                </div>
                <div class="filebox bs3-primary preview-image">
                    <input type="file" accept="image/*" id="inputGroupFile" class="upload-hidden">
                </div>
                <label class="caution">* 파일은 jpg, png, gif 파일만 허용됩니다. </label><br />
                <div class="mb-3">
                    <label for="startDate">날짜 선택</label><br>
                    <div class="ui-datepicker" style="float:left">
                        <input class="input-group input-append date" id="startDate" placeholder="시작일"></input>
                    </div>
                    <div style="float:left">~</div>
                    <div class="ui-datepicker" style="float:left">
                        <input class="input-group input-append date" id="endDate" placeholder="마감일"></input>
                    </div>
                    <br>
                </div>
                <div class="mb-3">
                    <div class="d-flex p-2 bd-highlight">
                        <label for="survey">설문조사</label>
                    </div>
                    <div>
                        <a>※고객들은 응답시 1점 ~ 5점 으로만 응답할 수 있습니다.</a>
                    </div>
                    <br>
                    <form>
                        <a>1.</a><input type="checkbox" name="surveyCheck" onclick="checkable(this.form)"></input>
                        <input type="text" class="form-control" name="survey" id="survey" disabled>
                    </form>
                    <br>
                    <form>
                        <a>2.</a><input type="checkbox" name="surveyCheck2" onclick="checkable2(this.form)"></input>
                        <input type="text" class="form-control" name="survey2" id="survey2" disabled>
                    </form>
                    <br>
                    <form>
                        <a>3.</a><input type="checkbox" name="surveyCheck3" onclick="checkable3(this.form)"></input>
                        <input type="text" class="form-control" name="survey3" id="survey3" disabled>
                    </form>
                    <br>
                </div>
            </form>
            <div>
                <button type="button" class="btn btn-sm btn-primary" id="btnSave">저장</button>
                <button type="button" class="btn btn-sm btn-primary" id="btnList">목록</button>
            </div>
        </div>
    </div>
    <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div> -->
    </body>
    </html>